* {
  box-sizing: border-box;
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #454545;
}

.circle:hover {
  border-color: #DD4053;
}

.button {
  height: 45px;
  width: 140px;
  padding: 14px 32px;
  border: 1px solid #969696;
  border-radius: 2px;
  text-align: center;
  color: #969696;
  text-decoration: none;
}

.button:hover {
  border-color: #DD4053;
}

.topLine {
  margin-left: 58px;
  margin-right: 26px;
  height: 1px;
  width: 237px;
  background-color: #C4C4C4;
}

/* Header */

.header__wrapper {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #D0D0D0;
  padding: 0 75px 0 100px;
}

.header__logo {
margin: 17px 27px 11px 0;
}

.header__changeLang {
  display: flex;
  flex-direction: column;
  padding: 28px 25px 0 20px;
  text-align: center;
}

.header__changeLang span {
  cursor: pointer;
}

.header__changeLang--active {
  width: 35px;
  height: 20px;
  background-color: #4AD295;
  border-radius: 2px solid #4AD295;
  color: #FFFFFF;
  font-weight: bold;
}

.header__exchange-rates {
  display: flex;
  flex-direction: column;
  margin: 31px 25px 27px 25px; 
}

.header__socialIcons {
  padding: 42px 25px 38px 30px;
}

.header__socialIcons a {
  text-decoration: none;
}

.header__socialIcons svg {
  width: 20px;
  height: 20px;
}

.header__socialIcons svg:first-child {
  margin-right: 6px;
}

.header__socialIcons svg:nth-child(2) {
  margin-right: 10px;
}

.header__phoneNumbers {
  display: flex;
  padding: 29px 25px 25px 25px;
}

.header__phoneNumbers--numbers {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  font-weight: bold;
  margin-right: 7px;
}

.header__phoneNumbers--numbers a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #393939;
}

.header__phoneNumbers--phoneIcon {
  margin-left: 15px;
  transform: translateY(3px);
}

.header-link {
  font-size: 16px;
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
}

.header__button {
  position: relative;
  height: 55px;
  padding: 23px 30px 22px 15px;
  background-color: #EFF3F6;
  margin-top: 23px;
}

.header__button span {
  position: absolute;
  top: 18px;
  left: 15px;
}

.header__button--firstContainer {
  width: 240px;
  margin-left: 35px;
}

.header__button--secondContainer {
  width: 205px;
  margin-left: 30px;
}

.header__button a {
  position: relative;
  top: -5px;
  left: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
}

.header__button--first {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: #DD4053;
}

.header__button--second {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: #4AD295;
}

/* main navigation */

.main-nav {
  padding-top: 27px;
}

.main-nav__list {
  display: flex;

  margin: 0;
  padding: 0;
  justify-content: center;
}

.main-nav__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 20px;
}

.main-nav__item:not(:last-child) {
  margin-right: 70px;
}

.main-nav__item--active {
  border-bottom: 3px solid #DD4053;
}

.main-nav__link {
  font-size: 15px;
  color: #171717;
  text-decoration: none;
  padding-left: 5px;
}

.main-nav__link svg {
  margin-left: 6px;
  transform: translateY(-2px);
}

/* slider section */

.slider {
  position: relative;
  height: 490px;
  background-image: url(./img/Rectangle\ 83.png),
    url('./img/maxresdefault.png');
}

.slider__price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 110px;
  left: 205px;
  width: 249px;
  height: 45px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 24px;
}

.slider__title {
  width: 705px;
  height: 102px;
  position: absolute;
  top: 170px;
  left: 205px;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 270px;
  height: 60px;
  left: 200px;
  top: 267px;
  margin-top: 40px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.25);
  color: #FFFFFF;
  text-decoration: none;
}

.slider__pages {
  display: flex;
  position: absolute;
  left: 200px;
  top: 427px;  
}

.slider__pages-circle {
  width: 7px;
  height: 7px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 10px;
}

.slider__pages-circle--active {
  background: #FFFFFF;
}


/* advantage */

.advantage {
  display: flex;
  height: 240px;
  background-color: #F8F8F8;
  padding-top: 30px;
  padding-bottom: 25px;
}

.advantage__leftbox {
  margin-left: 200px;
  margin-right: 73px;
}

.advantage__title {
  display: block;
  width: 584px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  color: #1D1D1D;
}

.advantage__text {
  width: 335px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  color: #777777;
}

.advantage__buttons {
  margin-top: 30px;
}

.advantage__firstButton {
  width: 270px;
  height: 50px;
  padding: 15px 44px;
  margin-right: 30px;
  border-radius: 2px;
  background: #BDBDBD;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.advantage__secondButton {
  width: 220px;
  height: 50px;
  padding: 15px 50px;
  border: 1px solid #969696;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #969696;
  cursor: pointer;
}

.advantage__list {
  margin: 0;
  padding: 0;
}

.advantage__rightbox {
  padding-top: 10px;
}

.advantage__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 20px;
}

.advantage__itemImg {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  border: 1px dashed #969696;
  border-radius: 50%;
  text-align: center;
  transform: translateY(-10px);
}

.advantage__itemImg svg{
  transform: translateY(50%);
}

/* best hotels */
.best-hotels {
  margin-top: 70px;
}

.best-hotels__tab {
  position: relative;
}

.best-hotels__top{
  display: flex;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

.best-hotels__title {
  font-size: 45px;
  font-weight: 500;
  margin-right: 50px;
}

.best-hotels__leftArrow {
  margin-right: 20px;
  border-color: #C6C6C6;
  text-align: center;
  cursor: pointer;
}

.best-hotels__leftArrow svg,
.best-hotels__rightArrow svg {
  transform: translateY(14px);
}

.best-hotels__leftArrow path {
  fill: #C6C6C6;
}

.best-hotels__rightArrow {
  border-color: #454545;
  text-align: center;
  cursor: pointer;
}

.best-hotels__leftArrow path {
  fill: #454545;
}


.best-hotels__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.best-hotels__tab--title {
  height: 30px;
  position: absolute;
  top: 20px;
  padding: 3px 12px 3px 15px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.35);
}

.best-hotels__tab--stars {
  height: 18px;
  width: 115px;
  position: absolute;
  top: 180px;
  left: 173px;
}

.best-hotels__tab--text {
  position: absolute;
  width: 263px;
  height: 49px;
  top: 234px;
  left: 114px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.actual-tours {
  padding: 100px 0 0 200px;
}

.actual-tours__top {
  display: flex;
  align-items: center;
}

.actual-tours__topLine {
  width: 340px;
  height: 1px;
  margin-left: 45px;

}

.actual-tours__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1040px;
}

.actual-tours__tab {
  width: 326px;
  height: 480px;
  background-color: #F8F8F8;
}

.actual-tours__img {
  position: relative;
}

.actual-tours__img img {
  width: 326px;
  height: 250px;
}

.actual-tours__img span {
  position: absolute;
  height: 30px;
  top: 20px;
  left: 0;
  padding: 3px 12px 3px 15px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.35);
}

.actual-tours__info {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.actual-tours__title {
  height: 34px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #323232;
  cursor: pointer;
 }

 .actual-tours__text {
  margin-top: 29px;
  height: 34px;
  font-size: 16px;
  line-height: 16px;
  color: #848484;
 }

 .actual-tours__topLine--tab {
   margin: 0;
   margin-top: 26px;
   width: 100%;
 }

 .actual-tours__blocks {
   display: flex;
   justify-content: space-between;
   margin-top: 22px;
 }

 .actual-tours__leftBlock {
   display: flex;
   flex-direction: column;
 }

.actual-tours__till {
  margin-right: 5px;
  font-size: 17px;
  line-height: 24px;
  color: #DD4053;
}

.actual-tours__price {
  font-size: 26px;
  line-height: 24px;
  color: #DD4053;
}

.actual-tours__for {
  font-size: 13px;
  line-height: 34px;
  color: #C9C9C9;
}

.actual-tours__rightBlock {
  display: flex;
  flex-direction: column;
}

.actual-tours__during {
  font-size: 13px;
  line-height: 18px;
  color: #3E3E3E;
}

.actual-tours__data {
  font-size: 13px;
  line-height: 18px;
  color: #3E3E3E;
  margin-top: 3px;
}

/* tour finder */

.tour-finder {
  margin-top: 60px;
  margin-left: 200px;
  width: 1042px;
  height: 140px;
  background: #F8F8F8;
  border-top: 6px solid #969696;
}

.tour-finder__top {
  display: flex;
  padding: 25px 0 0 10px;
  margin-bottom: 5px;
}

.tour-finder__top--icon {
  margin-right: 6px;
}

.tour-finder__top--text {
  margin-right: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(34, 34, 34, 0.4);
}

.tour-finder__top--text:nth-child(4) {
  margin-right: 110px;
}

.tour-finder__top--text:nth-child(6) {
  margin-right: 120px;
}

.tour-finder__top--text:nth-child(8) {
  margin-right: 70px;
}


.finder-form {
  display: flex;
}

.finder-form__city {
  width: 100px;
  height: 50px;
  padding: 15px 0 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.finder-form__city--select {
  display: block; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 700; 
  line-height: 17px; 
  max-width: 100%; 
  margin: 0; 
  padding: 0;
  border: none;
  color: #4B4B4B;
} 

.finder-form__city--select:focus {
  outline: none;
}

.finder-form__country {
  width: 213px;
  height: 50px;
  padding: 15px 0 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-left: none;
}

.finder-form__country--input {
  display: block; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #4B4B4B;
  line-height: 17px; 
  max-width: 100%; 
  margin: 0; 
  padding: 0;
  border: none;
} 

.finder-form__country--input:focus {
  outline: none;
}

.finder-form__date {
  width: 213px;
  height: 50px;
  padding: 15px 0 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-left: none;
}

.finder-form__date--input {
  display: block; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #4B4B4B;
  line-height: 17px; 
  max-width: 100%; 
  margin: 0; 
  padding: 0;
  border: none;
}

.finder-form__quantity {
  width: 140px;
  height: 50px;
  padding: 15px 0 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-left: none;
}

.finder-form__quantity--input {
  display: block; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #4B4B4B;
  line-height: 17px; 
  max-width: 100%; 
  margin: 0; 
  padding: 0;
  border: none;
}

.finder-form__quantity--input:focus {
  outline: none;
}

.finder-form__days {
  display: flex;
  width: 213px;
  height: 50px;
  padding: 15px 0 15px 15px;
  margin-right: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
}

.finder-form__days--input {
  display: block; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #4B4B4B;
  line-height: 17px; 
  max-width: 46%; 
  margin: 0; 
  padding: 0;
  border: none;
}

.finder-form__days--input:focus {
  outline: none;
}

.finder-form_button {
  width: 135px;
  height: 50px;
  background: #DD4053;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/* news */
.news {
  position: relative;
  width: 1440px;
  height: 620px;
  margin-top: 93px;
  padding: 93px 200px 0 200px;
  background: #F8F8F8;
}

.news__top {
  display: flex;
  align-items: center;
}

.news__topLine {
  width: 340px;
}

.news__title {
  margin: 0;
}

.news__button {
  width: 155px;
}

.news__bot {
  display: flex;
  position: relative;
}

.news__tab {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.news__tab:not(:last-child) {
  margin-right: 30px;
}

.news__tab img {
  width: 238px;
  height: 170px;
  cursor: pointer;
}

.news__tab--date {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.news__tab--date span {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #BBBBBB;
}

.news__tab--date svg {
  transform: translateY(-1px);
  margin-right: 9px;
}

.news__tab--title {
  margin-top: 10px;
  width: 195px;
  font-size: 20px;
  color: #323232;
  cursor: pointer;
}

.news__tab--link {
  position: relative;
  margin-top: 25px;
  color: #DD4053;
  font-size: 14px;
  text-decoration: none;
}

.news__tab--link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  height: 1px;
  width: 65px;
  color: #DD4053;
  background-color: #DD4053;
}

.news__leftArrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:215px;
  left: -84px;
  border-color: #C6C6C6;
  color: #C6C6C6;
  cursor: pointer;
}

.news__rightArrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:215px;
  right: -84px;
  border-color: #454545;
  color: #454545;
  cursor: pointer;
}

/* blog  */

.blog {
  position: relative;
  padding: 60px 0 0 200px;
}

.blog__imgPlane {
  position: absolute;
  top: -160px;
  right: 140px;
  width: 372px;
  height: 405px;
}

.blog__top {
  display: flex;
  align-items: center;
}

.blog__topLine {
  width: 680px;
}

.blog__bot {
  display: flex;
  position: relative;
}

.blog__tab {
  margin-top: 50px;
  margin-right: 31px;
  width: 300px;
  height: 320px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.blog__tab--data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #BBBBBB;
}

.blog__tab--data svg {
  margin-right: 10px;
  transform: translateY(2px);
}

.blog__tab--title {
  display: block;
  margin-top: 7px;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
  cursor: pointer;
}

.blog__tab--link {
  margin-top: 20px;
  cursor: pointer;
}

.blog__tab--link a {
  margin-right: 45px;
  font-size: 14px;
  line-height: 24px;
  color: #DD4053;
  text-decoration: none;
}

.blog__tab--link path {
  fill: #DD4053;
}

.blog__leftArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -80px;
  top: 120px;
  border-color: #C6C6C6;
  cursor: pointer;
}

.blog__rightArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -80px;
  top: 210px;
  cursor: pointer;
}

/* subscription to the newsletter */

.newsletter {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 90px;
  width: 1440px;
  height: 255px;
  background: #DD4053;
  padding: 60px 180px 60px 200px;
}

.newsletter__imgWaves {
  position: absolute;
  top: -84px;
  right: 103px;
}

.newsletter__top {
  display: flex;
  align-items: center;
}

.newsletter__top--title {
  margin-right: 50px;
  font-size: 28px;
  line-height: 55px;
  color: #FFFFFF;
}

.newsletter__top--text {
  width: 363px;
  font-size: 16px;
  line-height: 26px;
  color: #EFEFEF;
}

.newsletter__bot {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.newsletter__email {
  width: 410px;
  height: 50px;
  margin-right: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.newsletter__email input {
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.newsletter__email input::placeholder {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.newsletter__radio {
  position: relative;
  display: flex;
  align-items: center;
}

.newsletter__radio input {
  visibility: hidden;
  opacity: 0;

  z-index: -1;
}

.newsletter__radio label {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 15px;
  cursor: pointer;
}

.newsletter__radio label:first-of-type::after {
  content: '';
  position: absolute;
  left: 0;
  top: 16px;
  width: 25px;
  height: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transform: translateY(-3px);
}

.newsletter__radio label:last-of-type::after {
  content: '';
  position: absolute;
  left: 110px;
  top: 16px;
  width: 25px;
  height: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transform: translateY(-3px);
}

.newsletter__radio label:last-of-type::before {
  content: '';

}

.newsletter__radio svg:first-of-type {
  position: absolute;
  left: 112px;
  top: 22px;
  width: 25px;
  z-index: 3;
}

.newsletter__radio svg:last-of-type {
  position: absolute;
  left: 3px;
  top: 22px;
  width: 25px;
  z-index: 3;
}


.newsletter__radio input:checked + label:after  {
  background-color: #FFFFFF;
  z-index: 2;
}

.newsletter__button {
  padding: 15px 72px;
  margin-left: 50px;
  width: 237px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 2px;
  color: #DA2032;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

/* benefits */

.benefits {
  margin-top: 23px;
  padding: 63px 200px 0  200px;
  height: 1000px;
  position: relative;
  background: #F8F8F8;
}

.benefits img {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.2;
  z-index: 1;
}


.benefits__title {
  font-size: 40px;
  line-height: 55px;
  color: #232323;
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
}

.benefits__tab {
  width: 505px;
  height: 165px;
  margin-bottom: 30px;
  position: relative;
  padding: 30px 76px 30px 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  font-size: 16px;
  line-height: 26px;
  color: #656565;
  z-index: 2;
}

.benefits__tab:not(:nth-child(2n)) {
  margin-right: 30px;
}

.benefits__tab::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  border: 1px solid #C6C6C6;
}

.benefits__tab svg {
  position: absolute;
  top: 39px;
  right: 39px;
  z-index: 2;
}

.benefits__tab:hover:after {
  border: 1px solid #DD4053;
  background-color: #DD4053;
  z-index: 1;
}

.benefits__tab:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 165px;
  background: #DD4053;
}

.benefits__tab:hover path {
  fill: #FFFFFF;
}